<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="display:block;">
<div class="container-fluid" style="display:block;">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
     <a class="navbar-brand" href="/">LectureTalk</a>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li><a href="#signin" data-toggle='modal'>Sign in</a></li>
           <li><a href="#register" data-toggle='modal'>Register</a></li>
           <li><a href="/chatroom"> Chat </a> </li>
           </ul>
           </div>
   </div>
</nav>