<link rel="stylesheet" href="/other_styles/site-specific.css">

<div class="container">
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to LectureTalk</h1>
            <p class="lead">Talk to your fellow students in real-time during your lectures</p>
            <p class="lead">
            	<a href="/student/new" class="btn btn-lg btn-success">Sign up</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created by David Lloyd, Danju Visvanathan, James Chim, The Trung Nguyen for ELEC3609</p>
            </div>
          </div>

        </div>

      </div>

    </div>
</div>
