
<div class="container">	
	<div class="page-header">
		<h2>Delete a Unit of Study</h2>
	</div>
		<h4>are you sure wish to delete the unit of study <%= course.unit_code %></h4>
	<div class="row" style="padding-top:20px">
	<div style="padding-left:15px">
		<div class = "row">
			<div class="col-md-1">
				<form action="delete" method="post">
					<input type="hidden" name="unit_code" value="<%=course.unit_code %>"/>
					<button type="submit" class="btn btn-primary">Yes</button>
				</form>
			</div>
			<div class="col-md-1">
				<a type="button" class="btn btn-primary" href="/course/manage">No</a>
			</div>
		</div>
	</div>
</div>

