

<div class="container">	
	<div class="page-header">
		<h2>Error</h2>
	</div>
		<h4>You are trying to add a duplicate course, this is not allowed</h4>
	<div class="row" style="padding-top:20px">
	<div style="padding-left:15px">
		<a type="button" class="btn btn-primary" href="/course/manage">Back to Manage Unit of Study</a>
	</div>
	</div>
</div>