<div class="container">	
	<div class="page-header">
		<h2>Error</h2>
	</div>
		<h4> You have exceeded the unit of study limit of 30 credit points.</h4>
		<h4> You need to delete a subject before you can add another one.</h4>
	<div class="row" style="padding-top:20px">
	<div style="padding-left:15px">
		<a type="button" class="btn btn-primary" href="/course/manage">Back to Manage Unit of Study</a>
	</div>
	</div>
</div>